$Black: #373737;
$BlackOne: #474747;
$BlackTwo: #3d3d3d;
$BlackThree: #393939;
$BlackFour: #4b4b4b;

$White: #ffffff;
$WhiteOne: #f6f6f6;
$WhiteTwo: #f8f8f8;

$Gray: #b7b7b7;
$GrayOne: #d7d7d7;
$GrayTwo: #e8e8e8;
$GrayThree: #888888;
$GrayFour: #d5d5d5;

$Blue: #1977f3;
$BlueOne: #237df2;

$Red: #ff797e;

$Green: #1fc056;
